    <%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item__list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h3 class="cart__item__title">Title : <%= p.productId.title %></h3>
                        <h3 class="cart__item__quantity">Quantity: <%= p.quantity %></h3>
                        <form action="/cart-delete-item" method="post">
                            <input type="hidden" name="productId" value="<%= p.productId._id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn delete" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Order Now !</button>
                </form>
    
            </div>
        <% } else { %>
            <h1>No products in cart</h1>
        <% }  %>
    </main>
    <%- include('../includes/end.ejs') %>