<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) {%>
            <h1>Nothing there !!!</h1>
        <% } else { %>
            <ul style="list-style: none; ">
                <% orders.forEach(order => { %>
                    <li class="order__list">
                        <h3>Order - #<%= order._id  %></h3>
                        <ul style="list-style: none;">
                            <% order.products.forEach(p => {  %>
                                <li class="order__item">
                                    <h4 class="item"><%= p.product?.title %>   (<%= p.quantity %>)</h4>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>